*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

body{
    
    background-color: #DADFEf;
    
    
}

[data-role="page"]{
 
    width: 100%;
    display: block;
    position: fixed; 
    overflow: scroll;   
}

#lists{
    
 
}

#lists #appendLists li{
    
    width: 100%;
    font-size: 20px;
    padding: 8px;
    margin: 10px;
    text-align: left;
    background-color: #323232;
    color: aliceblue;
    height: 30px;
}

#lists #add{
    
    border-radius: 8px;
    width: 80px;
    height: 50px;
    margin: 10px;
    background-color: #4183D7;
    color: whitesmoke;
    font-size: 18px;
    
}

#create{
   
    margin: 20px;
    font-size: 20px;
   
}

#create #getTitle{
    
    height: 20px;
    display: block;
    
    
}

#create p{
    
    float: left;
    
    
}

#create #getReview{
    
    height: 40px;
    display: block;

    
    
}

#create #stars{
    
    font-size: 25px;
    display: inline-block;
    margin: 8px;
    width: 100%;
    
    
    
}

#create #submit{
    
  border-radius: 8px;
    width: 80px;
    height: 50px;
    margin: 10px;
    background-color: #87D37C;
    color: whitesmoke;
    font-size: 18px;
    float: left;
}

#create #cancel{
    
    border-radius: 8px;
    width: 80px;
    height: 50px;
    margin: 10px;
    background-color: #EF4836;
    color: whitesmoke;
    font-size: 18px;
    float: left;
    
}

#create #cameraBtn{
    
     border-radius: 8px;
    width: 80px;
    height: 50px;
    margin: 10px;
    background-color: #323232;
    color: whitesmoke;
    font-size: 18px;
    float: left;
    
}

#details{
    

    
}

#details .title{
    
    height: 15px;
}

#details .description{
    
    height: 25px;
}

#details #img{
    
    width: 100%;
    height: 40px;
    
}

#details #return{
    
    border-radius: 15px;
}



.active{
    z-index: 1;
    transform: translate3d(0,0,0);
    /* Keep content on screen */
   
    
    
}

.inactive{
    z-index: 100;
  transform: translate3d(100%,0,0);
}
